<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title><%= title || "Автопарк" %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header class="header">
    <nav class="nav">
        <h2 class="logo">🚗 Автопарк</h2>
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cars">Авто</a></li>
            <li><a href="/cars/add">➕ Додати</a></li>
        </ul>
    </nav>
</header>

<main class="content">