<form>
  <label>Назва продукту: <input type="text" name="name" /></label><br />
  <label>Ціна: <input type="number" name="price" /></label><br />
  <label>Опис: <textarea name="description"></textarea></label><br />
  <button type="submit">Додати</button>
</form>
<a href="/">Назад</a>
