<h1><%= title %></h1>
<hr />
<h2>Завдання 1 та 2 за маршрутами</h2>
<hr />
<h2>task 3</h2>
<p>Вітаю, користувач!</p>
<a href="/goals">Цілі</a><br />
<a href="/about">Про задачу</a><br />
<a href="/news">Новини</a><br />
<a href="/info/sites">Сайти</a><br />
<a href="/info/films">Фільми</a><br />
<a href="/info/me">Про мене</a>
<hr />
<h2>task 4</h2>
<ul>
  <li><a href="/about.html">Про магазин</a></li>
  <li><a href="/products">Продукти</a></li>
  <li><a href="/addproduct">Додати продукт</a></li>
</ul>
